{% extends 'layout.html' %}
{% block title %}Blog{% endblock %}

{% block main_content %}
    <div class="main-content">
        <h2>Soon will be added new content</h2>
        <p>Currently I'm creating a blog where you could spectate my progress and upcoming projects ideas</p>
        <h4>Blog developing status:</h4>
        <div class="meter" style="width: 90%; margin: aut; border: 0.5mm solid #000; height: 15px; padding-top:1.07px;">
            <hr class="meter-line" style="width: 90%; height: 100%; background-color: #363636;">
        </div>
    </div>
    <div class="main-content" style="height:100vh;"></div>
{% endblock %}

